.wrap {
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    color: #444;
    -webkit-font-smoothing: subpixel-antialiased;
}


.wrap .title img 
{
    vertical-align: middle;
}

#heads-up{
    border-bottom: 1px solid #eee;
    background-color: white;
    text-align: left;
    padding-left: 10px;
    padding-top: 5px;
    margin: 0;
    line-height: 2;
    display: block !important;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-font-smoothing: subpixel-antialiased;
        
}


input{
    float:left;
    border-color: #ddd;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    background-color: #fff;
    color: #333;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    padding-left: 10px;
    padding-right: 10px;
    outline: 100px;
    font-weight: normal;
    box-sizing: border-box;
    outline-offset: -2px;
    border-spacing: 2px;
    -webkit-font-smoothing: subpixel-antialiased;

    
}

textarea{
    width: 100%;
    border-color: #ddd;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    background-color: #fff;
    color: #333;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    padding-left: 10px;
    padding-right: 10px;
    outline: 100px;
    font-weight: normal;
    box-sizing: border-box;
    outline-offset: -2px;
    border-spacing: 2px;
    -webkit-font-smoothing: subpixel-antialiased;
    
}

.postbox {
    text-align: left;
    min-width: 255px;
    position: relative;
    display: block;
}

.form-table th{
  width: 150px !important;
  font-size: 15px !important;
}

#mybutton input{
    
   width: 160px;
}


#poof{
    border-bottom: 1px solid #eee;
    background-color: white;
    text-align: left;
    padding-left: 10px;
    padding-top: 5px;
    margin: 0;
    line-height: 2;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-font-smoothing: subpixel-antialiased;
    
}

td.connatix_in {
    width: 80px;
   
}


td.connatix_head {
    width: 130px;
   
}

#connatix_ad_management.form-table th{
    text-align: center !important;
}

.connatix-preloader
{
    width:100%;
    height:100%;
    background:#000000;
    position: absolute;
    top:0px;
    left:0px;
    z-index:100;
    opacity:0.2;
    filter:alpha(opacity=20);
    display:none;
}

.connatix-preloader img
{
    margin:80px auto;
    display:block;
}
.connatix-menu 
{
    margin-bottom:20px;
    clear:both;
    height:84px;
}

.connatix-menu a
{
    display:block;
    padding:30px;
    width:100px;
    color:white;
    float:left;
    background-color:#666666;
    font-size: 32px;
    text-transform: uppercase;
    text-decoration: none;
    border:2px solid white;
    margin-right:50px;
    cursor:pointer;
}

.connatix-menu a.active
{
    background: #28b779;
}

.connatix-menu a:hover
{
    background: #28b779;
}

.connatix-clear
{
    clear:both;
}

.connatix-toolbox
{
    width:200px;
    position:relative;
    z-index:100;
    background:#ffffff;
    border:1px solid #eee;
    min-height:500px;
    float:right;
    margin-top:13px;
}
.connatix-wrap
{
    min-width:1024px;
}

.connatix-wrap #postlist
{
    float:left;
    width: 80%;
}
.connatix-page-selector{
    width:200px;
}

.connatix-toolbox h3
{
    background:#28b779;
    cursor:pointer;
    color:white;
    margin:0px;
    line-height:40px;
    text-align:center;
}
.connatix-toolbox ul
{
    margin:0px;
}
.connatix-toolbox li
{
    line-height:40px;
    border-bottom:1px dotted #f1f1f1;
    padding-left:5px
}
.connatix-toolbox li.selected
{
    font-weight:bold;
    background:#f4f4f4;
}

.connatix-toolbox li:hover
{
    background:#f9f9f9;
    cursor:pointer;
}

.connatix-toolbox-add
{
    background:#28b779;
    cursor:pointer;
    color:white;
    margin:0px;
    line-height:40px;
    text-align:center;
}
.postlist
{
    position:relative;
}
.connatix-add-new{
    color:#ffffff;
    text-decoration: none;
}
.connatix-add-new:hover
{
    color:#ffffff;
}
.connatix-ad-delete {
    margin-right:20px !important;
    background:#666666 !important;
    border-color:#666666 !important;
}




